@import 'tailwindcss';

.bg-whitesmoke {
	background-color: whitesmoke;
}

nav {
	background-color: transparent !important;
}
nav + main {
	margin-top: 4em;
}
[id^='sketch'] {
	top: 0;
	/* background-color: darkolivegreen; */
}
